@import "~styles/vars";
.header {
  height: 58px;
  border-bottom: $border-base;
  display: flex;
  .logo {
    cursor: pointer;
    width: 100px;
    height: 100%;
  }
  &Nav {
    display: flex;
    justify-content: space-between;
    @include center;
    height: 100%;
  }
  .left {
    color: $black;
    display: flex;
  }
  .right {
    display: flex;
  }
  .navItem {
    &.active {
      color: $orange;
    }
    display: flex;
    align-items: center;
    height: 100%;
    padding: $space-base;
  }
  .inputBox {
    &.changeEnter {
      .input {
        width: 160px;
      }
    }
    &.changeEnterActive,
    &.changeEnterDone {
      .input {
        width: 240px;
        transition: all .3s;
      }
      .searchWrapper {
        color: $white;
        background-color: $gray;
      }
    }
    &.changeExit {
      .input {
        width: 240px;
      }
    }
    &.changeExitActive,
    &.changeExitDone {
      .input {
        width: 160px;
        transition: all .3s;
      }
    }
    position: relative;
    display: flex;
    margin-top: calc((58px - 38px)/2);
    height: 38px;
    .input {
      padding-left: $space-lg;
      padding-right: 36px;
      height: 100%;
      width: 160px;
      border-radius: $border-radius-lg;
      background-color: $gray-bg; // transition: all .6s; // 先通过transition实现动画效果
      // &:focus {
      //   width: 260px;
      //   &+.searchWrapper {
      //     background-color: $gray;
      //     color: $white;
      //   }
      // }
    }
    .searchWrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: $space-sm;
      top: 4px;
      height: 100%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  .personal {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    p {
      margin-left: $space-base;
    }
  }
  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 80px;
    height: 38px;
    border-radius: $border-radius-base;
    color: $orange;
    border: 1px solid $orange;
  }
  .write {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    width: 100px;
    height: 40px;
    background-color: $orange;
    color: $white;
    border-radius: $border-radius-base;
  }
}
