@import "../../styles/variables";
@import "../../styles/mixins";
.enjoy-ui-button {
  display: inline-flex;
  text-align: center;
  vertical-align: top;
  border: $btn-border-width solid transparent;
  font-weight: $btn-font-weight;
  color: $body-color;
  box-shadow: $btn-box-shadow;
  transition: $btn-transition;
  &:focus {
    outline: none;
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      // @see: https://developer.mozilla.org/zh-CN/docs/Web/CSS/pointer-events
      // 元素永远不会成为鼠标事件的target
      pointer-events: none;
    }
  }
  @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-border-radius
  );
  &-lg {
    @include button-size(
        $btn-padding-y-lg,
        $btn-padding-x-lg,
        $btn-font-size-lg,
        $btn-border-radius-lg
    )
  }
  &-sm {
    @include button-size(
        $btn-padding-y-sm,
        $btn-padding-x-sm,
        $btn-font-size-sm,
        $btn-border-radius-sm
    );
  }
  &-primary {
    @include button-style(
        $primary,
        $primary,
        $white
    );
  }
  &-danger {
    @include button-style(
        $danger,
        $danger,
        $white
    );
  }
  &-default {
    @include button-style(
        $white,
        $gray-400,
        $body-color,
        $white,
        $primary,
        $primary
    );
  }
  &-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
    box-shadow: none;
    &:hover {
      color: $btn-link-hover-color;
      text-decoration: $link-hover-decoration;
    }
    &:focus {
      text-decoration: $link-hover-decoration;
      box-shadow: none;
    }
    &.disabled {
      color: $btn-link-hover-color;
      // 可以阻止元素的鼠标事件，如点击
      pointer-events: none;
    }
  }
}
