.iconWrapper {
  display: inline-flex;
  vertical-align: top; // 指定行内元素(inline)或表格单元格(table-cell)元素的垂直对齐方式
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}
